
<div class='inputs'>
    <input class='email' placeholder='邮箱' name='email' type='email'/>
    <input class='password' placeholder='密码' name='password' type='password'/>
    <button id='forget-password' type='submit'>忘记密码</button>
    <button id='login-btn' type='submit'>马上登录</button>
</div>
