 #swipeview-slider > div {
    position: relative;

    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    overflow: hidden;
}

#swipeview-slider span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-size: 1.4em;
    padding: 0 20px;
}

.slidingview_sidebar {
	position: absolute;
	width: 320px;
	left: 0px;
	top: 0px;
	bottom: 0px;

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	overflow: hidden;
}

.slidingview_body {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	overflow: hidden;
}

.slidingview_wrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
