.header_title {
    position: absolute;
    top: 14px;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    white-space: nowrap;

    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 48%;
}

.headerContent {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    position: absolute;
}

.content {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/* ANDROID BUG WORKAROUND */
.content select {
    overflow: auto;
    position: relative;
    backface-visibility: auto;
    -webkit-backface-visibility: auto;
}

.content div {
    backface-visibility: visible;
    -webkit-backface-visibility: visible;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.contentHolder {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*background-color: white;*/
    overflow: auto;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

