@import variables
@import "compass/css3" 

#header
  .back, .register
    height: $page_title_height
    width: 15%
    float: left
  .back
    i
      width: 22px
      height: 26px
      display: block
      margin: 8px 0 0 20px
      background: url(../img/icn_back.png)
  .slide-menu
    i
      width: 22px
      height: 22px
      display: block
      margin: 10px 0 0 20px
      background: url(../img/icon_nav.png)
  .register
    padding: 13px 
#login, #register
  width: 100%
  input
    border: none
    width: 100%
    // margin: 0 0 0 5%
  .inputs
    width: 70%
    margin: 30px auto
  .email, .password
    border: 1px solid $ul_border_color
  .email
    @include border-top-left-radius($input_radius)
    @include border-top-right-radius($input_radius)
  .password
    border-top: none
    @include border-bottom-left-radius($input_radius)
    @include border-bottom-right-radius($input_radius)
  .buttons
    width: 70%
    margin: 0 auto
    button
      width: 90%
      padding: 6px
      color: white
      border: none
      font-size: $big_font_size
      @include border-radius(5px)
      &#forget-password
        background: rgb(216,143,28)
      &#login-btn, &#regist-now
        background: $main_color
     
